<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fab fa-instagram-square"></i>

        </div>
        <div>wanderlust private limited</div>
        <div class="f-info-links">
             <a href="/privacy">Privacy</a>
             <a href="/terms">terms</a>
        </div>
    </div>
</footer>